
body{
	font-family: "Inter", sans-serif;
}

header{
	background:#B0E0E6;
	padding: 15px 0;
}

.logo{
	width:8%;
}

main{
	padding: 20px 0 50px 0;
	margin: auto;
	background: linear-gradient(#B0E0E6, #E3ACE3, #B0E0E6);
}

.areatextodigitado{
	display:inline-block;
	width: 60%;

}

#areatextoretorno{
	position: relative;
	width: 30%;
	float: right;
	display: none;
}

.info{
	display: block;
	font-size: 12px;
	color: #495057;
	margin: 5px 60px;
}

.info:before{
	position: relative;
	content: url(Vector.png);
	top: 3px;
	right: 3px;
}

.textodigitado{
	font-size: 20px;
	margin: 0 60px;
	border-radius: 10px;
	border: none;
	outline: 0;

}
.textoretorno{
	font-size:20px;
	margin: 0 auto;
	border-radius: 10px;
	border: none;
	outline: 0;
	
}

.botaocrip,.botaodes,.botaolimpar,.botaocopiar{
	display:inline-block;
	width: 25%;
	padding: 10px 0;
	font-size: 18px;
	border-radius: 15px;
	cursor: pointer;
	margin: 5px 10px 0 50px;

}

.botaocrip,.botaolimpar,.botaocopiar{
	color: #FFFFFF;
	background: #72C8D2;
	border: none;
}

.botaodes{
	background: #9B9B9B;
	color: #525252;
	border: none;
}

.botaocopiar{
	margin: 30px 0px;
}

.botaocrip:active,.botaolimpar:active,.botaocopiar:active{
	background: #7BBFBB;
	transform: scale(1.1);
}

.botaodes:active{
	background: #808080;
	transform: scale(1.1);
}

.botaocrip:hover, .botaodes:hover, .botaolimpar:hover, .botaocopiar:hover{
	color: #993399;

}


#areaimagem{
	position: absolute;
	width: 30%;
	float: right;
	display: inline;
	text-align: center;
	box-sizing: border-box;
	border: 2px solid #000000;
	font-size:20px;
	margin: 0 120px;
	border: none;
	outline: 0;
	border-radius: 10px;
}



.imagem{
	width: 50%;
}

.texto1{
	font-weight: bold;
	font-size: 15px;

}

.texto2{
	font-size: 15px;
	line-height: 20px;

}

footer{
	text-align: center;
	background: linear-gradient(#000000, #3B3F58);
	padding: 40px 0;

}
.copyright{
	color: #FFFFFF;
	font-size:12px;
	margin:20px 0;
}

@media screen and (max-width: 480px){
	body{
		width: 100%;
		height: 100%;
		display: inline-block;
		margin: auto;
	}
	.logo{
		width: 15%;
		margin: auto;
	}
	.textodigitado, .textoretorno{
		font-size: 10px;
		display: flex;
		width: 70%;
		height: 40%;
		margin: auto;	}

	.areatextodigitado{
		display: block;
		position: relative;
		width: 100%;
		height: 100%;
	}

	#areatextoretorno{
		display: none;
		width: 100%;
		height: 100%;
		float: none;
	}

	.info{
		text-align: center;
		font-size: 5px;
	}
	.info:before{
		content: none;
	}


	#areaimagem{
		position:relative;
		width: auto;
		display: inline-block;
		float:none;
		margin: 0 50px;
	}

	.botaocrip, .botaodes, .botaolimpar, .botaocopiar{
		display: block;
		width: 50%;
		font-size: 10px;
		margin: 3% 25%;

	}
	.imagem{
		width: 30%;
	}

	.texto1, .texto2{
		font-size: 10px;
	}

	footer{
		display: block;
		width: auto;
		font-size: 5px;
		margin: auto;

	}
}



